# Core
fastapi==0.111.0
uvicorn==0.29.0
httpx==0.27.0
python-dotenv==1.0.1

# Image processing
opencv-python-headless==4.10.0.84
numpy==2.1.0

# Detection
ultralytics==8.2.0

# OCR
easyocr==1.7.1
python-bidi==0.4.2
Pillow==11.2.1

# torch installed separately in buildCommand    